 
* { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
}
body { 
	font: 13px Helvetica, Arial; 

}
table.center {
	margin-left:auto; 
	margin-right:auto;
	height: 100%;
	width: 40%; 
	border: 1px solid black;
	position:absolute; top:0;left:0;right:0;bottom:0; vertical-align: text-top;
	vertical-align: top;
}


tr,td,th {
	top:0;
	height: 50px;
	vertical-align: text-top;
}
form { 
	 
	padding: 3px; 
	position: fixed; 
	bottom: 0; 
	width: 40%; 

}
form input { 
	border: 1; 
	padding: 10px; 
	width: 80%; 
	margin-right: .5%; 
}
form button { 
	width: 17%; 
	background: rgb(130, 224, 255); 
	border: none; 
	padding: 10px; 
}
#messages { 
	list-style-type: none;
	margin: 0;
	padding: 0; 
}
#messages li { 
	padding: 5px 10px;
}
#messages li:nth-child(odd) {
	background: #eee;
}

