 
<body >
	<div id="loginPage">
		<div class="jumbotron text-center">
			<h1>Small-Talkz</h1>
			<br>
			Right now there are {{usersNumber}} users talking in {{usersNumber}} talks
			<br><br>
			<div class="welcome">	
				<img src="../../assets/img/google-login.png" alt="Login with Google+">
				<img src="../../assets/img/facebook-login.png" alt="Login with Facebook">
			</div>
			<div>
				<form name="loginForm" width="70%">
					<br>
					<button type="button" id="newConvers">
						New Conversation
					</button>
					<button type="button" id="join">
						Join Conversation
					</button>
					<br><br>
					<div id="owl-example">
						<div class="item">
							<input autocomplete="off" name="name" ng-model="name" required placeholder="Name">
							<br>
							<input autocomplete="off" name="room" ng-model="room" required placeholder="Room">
							<br><br>
							<button type="button"  ng-click="enterRoom({name: name,room: room})">
								Start Talking!
							</button>
						</div>
						<div class="item">
							<button type="button" class="random" ng-click="randomRoomButtonClass=true;getRandomRoom()">
								Random conversation!
							</button>
							<div ng-if="randomName && randomRoom">
								<br>		
								<br>
								<li style="list-style: none;">{{randomName}}</li>
								<li style="list-style: none;">{{randomRoom}}</li>
								<button type="button" ng-click="enterRoom({name: randomName,room: randomRoom})">
									Enter!
								</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
