 
<body>
	<div class="chat">
		<div class="toggle-users" ng-click="showUsers=!showUsers">
		</div>
 
		<div ng-show="showUsers">
		<br>
		{{users_list}}
		</div>
		<div scroll-glue="true" class="messages">
			<ul>
				<li scroll-glue="true" ng-class="{'sender' : message.sender, 'receiver' : !message.sender}" ng-repeat="message in messages track by $index"><div class="msg" scroll-glue="true">{{message.txt}}</div></li>
			</ul>
		</div>
 
		<form  name="chatWindow" ng-submit="submit()">
			{{info}}  
			<br>
			<input autocomplete="off" ng-model="insertedText" ng-change="isUserTyping()" type="text" class="typing" required/>
			<button type="button" ng-disabled="chatWindow.$invalid" ng-click="submit()">
				Send
			</button>
		</form>
	</div>
</body>
