 
<body >
	<div id="loginPage">
		
		<div id="owl-example" class="jumbotron text-center">
			<div ng-if="isUserLogin">
				Welcome {{ name }}
			</div>
			<h1>Small-Talkz</h1>


			<div>
				<form name="loginForm" width="70%">

					<br>
					<div ng-if="!isUserLogin"  >
						signup 
						<br>


						<input autocomplete="off" name="FirstName" ng-model="FirstName" required placeholder="First Name">
						<br>	
						<input autocomplete="off" name="LastName" ng-model="LastName" required placeholder="Last Name">
						<br><br>	
						<input autocomplete="off" name="Mail" ng-model="Mail" required placeholder="Mail">

						<br>	<br>
						<input autocomplete="off" type="Password" name="Password" ng-model="Password" required placeholder="Password">
						<br> 
						<input autocomplete="off" type="password" name="ConfirmPassword" ng-model="ConfirmPassword" required placeholder="Confirm Password">
						<br><br>
				  
						<button type="button"  ng-click="register_user({FirstName:FirstName,LastName:LastName,Mail:Mail,Password:Password});">Sign Up!</button>
						<br>

					</div>



				</div>
			</form>

		</div>
	</div>
</div>

</body>