 
<body>
	<div class="chat">
		<div class="members">
			{{users}}
		</div>
		<div class="messages">
			<ul>
				<li class="members">
					
				</li>
				<li ng-class="{'sender' : message.sender, 'receiver' : !message.sender}" ng-repeat="message in messages track by $index"><div class="msg">{{message.txt}}</div></li>

			</ul>
		</div>
		<form ng-submit="submit()">
			{{info}}  
			<br>
			<input autocomplete="off" ng-model="insertedText" ng-change="isUserTyping()" type="text" />
			<button type="button" ng-click="submit()">
				Send
			</button>
		</form>
	</div>
</body>
