 
<body>
	<div class="chat">
		<div class="toggle-users" ng-click="showUsers()">
			
		</div>
		<div scroll-glue="true" class="messages">
			<ul>
				<li scroll-glue="true" ng-class="{'sender' : message.sender, 'receiver' : !message.sender}" ng-repeat="message in messages track by $index"><div class="msg" scroll-glue="true">{{message.txt}}</div></li>
			</ul>
		</div>
		<div class="users">
			<ul>
				<li ng-repeat="user in users track by $index">
					{{users}}
				</li>
			</ul> 
		</div>
		<form ng-submit="submit()">
			{{info}}  
			<br>
			<input autocomplete="off" ng-model="insertedText" ng-change="isUserTyping()" type="text" class="typing"/>
			<button type="button" ng-click="submit()">
				Send
			</button>
		</form>
	</div>
</body>
