html {
    height: 100vh
}
html body {
    margin: 0
}
.logo {
    height: 100px
}
.jumbotron {
    margin: 0 auto;
    background-color: #fffcdd;
    width: 380px !important;
    height: 460px;
    box-shadow: 0px 0px 8px #bebebe;
    margin-top: 1em
}
.jumbotron button {
    background: white;
    border: 1px solid #c6c6c6;
    padding: 0.2em 0.6em
}
.jumbotron .owl-carousel .owl-wrapper-outer {
    width: 270px
}
.jumbotron input {
    border: 1px solid #dfdfdf;
    margin-top: 0.2em;
    padding-left: 0.5em
}
.jumbotron input::-webkit-input-placeholder {
    color: #bebebb
}
.jumbotron input:-moz-placeholder {
    color: #bebebb
}
.jumbotron input::-moz-placeholder {
    color: #bebebb
}
.jumbotron input:-ms-input-placeholder {
    color: #bebebb
}
.jumbotron .welcome img {
    display: block;
    margin: 0 auto;
    margin-top: 0.2em
}
.chat {
    margin: 0;
    height: 97vh;
    font-family: 'Arial';
    text-align: center
}
.chat .members {
    width: 10em;
    height: 100vh;
    display: inline-block;
    position: fixed;
    left: 0;
    opacity: 0;
    background: rgba(255, 255, 255, 0.9)
}
.chat ul {
    list-style: none;
    padding: 0;
    margin: 1em 1em 0
}
.chat ul:before {
    content: '';
    position: fixed;
    top: 0;
    background-image: url('../img/avatar.jpg');
    width: 30px;
    height: 30px;
    border-radius: 50%
}
.chat ul li {
    display: block;
    text-align: left;
    position: relative
}
.chat ul li.sender {
    text-align: right;
    margin-right: 3em
}
.chat ul li.sender:before {
    content: '';
    background-image: url('../img/avatar.jpg');
    background-size: cover;
    width: 30px;
    height: 30px;
    border: rgba(0, 0, 0, 0.1) 1px solid;
    border-radius: 50%;
    z-index: 4;
    position: absolute;
    left: auto;
    right: -3em;
    top: 0.2em
}
.chat ul li.sender .msg {
    background: rgba(193, 245, 179, 0.49)
}
.chat ul li .msg {
    display: inline-block;
    width: auto;
    padding: 0.5em 1em;
    margin-left: 3em;
    position: relative;
    border-radius: 7px;
    background: rgba(245, 222, 179, 0.49)
}
.chat ul li:before {
    content: '';
    background-image: url('../img/avatar.jpg');
    background-size: cover;
    width: 30px;
    height: 30px;
    border: rgba(0, 0, 0, 0.1) 1px solid;
    border-radius: 50%;
    z-index: 4;
    position: absolute;
    left: 0;
    top: 0.2em
}
.chat form {
    width: 100%
}
.chat .messages {
    overflow-y: scroll;
    height: calc(100% - 6em);
    background: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: calc(100% - 2em);
    margin: 1em;
    margin-bottom: 0em;
    box-shadow: 1px 1px 18px white;
    float: left
}
.chat .messages:after {
    content: "";
    background: url('../img/background.jpg');
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1
}
.chat input {
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1em;
    width: calc(100% - 2em);
    line-height: 1.9em;
    padding-left: 0.7em;
    margin: 1em;
    float: left;
    margin-top: 1em;
    margin-left: 1em;
    border: 1px solid rgba(0, 0, 0, 0.5)
}
.chat button {
    display: none
}